<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.mfa.googleauth.pagetitle}"></title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag"/>
</head>
<body>
<main role="main">
    <div layout:fragment="content" class="authenticator">
        <div th:replace="fragments/googleAuthenticatorLogin :: googleAuthenticatorLogin" th:delete="tag">
            <a href="fragments/googleAuthenticatorLogin.html">googleAuthenticatorLogin</a>
        </div>
    </div>
</main>
</body>
</html>
