<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.error.page.title.accessdenied}"></title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:remove="tag" />
</head>

<body>
<main role="main">
    <div layout:fragment="content">
        <div class="title" th:utext="#{screen.error.page.title.accessdenied}"/>
        <div th:utext="#{screen.error.page.accessdenied}"/>
        <a th:href="@{/login}" th:utext="#{screen.error.page.loginagain}"/>
    </div>
</main>
</body>
</html>
